if(user || cliente)
  if (cliente)
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/cliente') Mis solicitudes
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href="/cliente/solicitud") Nueva solicitud
  else if (user.id_area == 1)
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.rounded.text-bg-light.btn-light(href="/admin/area/") Areas
      li.nav-item
        a.nav-link.btn.btn-sm.rounded.btn-light(href="/admin/empleado/") Empleados
      li.nav-item
        a.nav-link.btn.btn-sm.rounded.btn-light(href="/admin/cliente/") Clientes
  else if (user.id_area == 3)
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/calidad') Notificaciones
  else if (user.id_area >= 2)
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/calidad/notificaciones') Notificaciones
  //else
    ul.nav.justify-content-center.p-2.bg-dark
      li.nav-item
        a.nav-link.btn.btn-sm.btn-info(href='/empleado') Solicitudes