extends ../../layout

block content
        .container
            .row
                .col-12.ms-auto.text-center
                    h1.bold.dark Gestion de Areas
            .row 
                .col-10.me-auto.text-center
                    p Gestion, Help Desk y Calidad ya estan predifinidas
                .col-12.ms-auto.me-auto
                    if(mensaje.length > 0)
                        .row.mx-auto
                            .col-5.mx-auto.mt-4.text-center
                            .alert.alert-info.alert-dismissible.fade.show(role='alert')
                                strong #{mensaje} 
                                button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                    if(mensajeError.length > 0)
                        .row.mx-auto
                            .col-5.mx-auto.mt-4.text-center
                            .alert.alert-info.alert-dismissible.fade.show(role='alert')
                                strong #{mensajeError} 
                                button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
            .row 
                .col-2.me-auto
                    .d-grid.gap-2
                        button.btn.btn-dark(type="submit" onclick="location.href='/admin/area/insertar'")(style="font-weight: bold") Agregar area
            .row
                .col-8.ms-auto.me-auto
                    if (areaT>=1) 
                        table.table
                            th
                                tr.bg-dark.text-white
                                    th(scope='col') Nombre
                                    th(scope='col') Actualizar
                                each area in Areas
                                    tr(style="font-weight: bold")
                                        td.text-center= area.nombre_area
                                        td.text-center
                                            form(action="/admin/area/"+area.id_area, method="get")
                                                input.btn.btn-warning(type="submit", value="Actualizar")
                    else
                        .col.ms-auto.me-auto.text-center
                            h3.bg-info No se encontraron areas registradas